.popup__text {
  border: none;
  max-width: 358px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin: 0 0 30px 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

.popup__text:last-of-type {
  margin: 0;
}

@media screen and (max-width: 590px) {
  .popup__text {
    max-width: 238px;
  }
}